
body{
    margin: auto;
    background-color: aquamarine;
}
#contain{
    background-color: aliceblue;
    margin: auto;
    width: 1020px;
}
.header{
    float: left;
    margin: 0 0 0 0;
}

@media screen and (max-width:1020px){

    #contain{
        margin: auto;
        width: 100vw;
    }
    .header{
        float: left;
        margin: 0 0 1em 0;
    }

}


@media screen and (max-width:640px) {
    #contain{
        margin:atuo;
        width: 100vw;
    }
}

