
    #USTClogo{
        width: 50%;
        height: auto;
        float: left;
    }

    #CANtitle{
        width: 50%;
        float: left;
    }
    @media screen and (max-width: 1020px){
    
        #USTClogo{
            width: 50%;
            height: auto;
        }
        
    #CANtitle{
        width: 50%;
        float: left;
    }
    }
    @media screen and (max-width: 640px){

        #USTClogo{
            width: 100%;
            height: auto;
        }
        
        #CANtitle{
            width: 100%;
            float: left;
        }
    
    
    }