@media screen {
    #menu{
        width:100%;
        font-size: 12px;
        margin: 0;
        padding: 0;
        background-color: rgba(255, 255, 255, 0.5);
        li{
            list-style: none;
            display: inline-table;
            margin: 1em 0 1em 0;
            font-family: sans-serif;
            a{
                
                padding:1em 2.8em 1em 2.8em;
                overflow: hidden;
                //position: absolute;
                text-decoration: none;
                text-align: center;
            &:link{
                color:#004ca1;background-color:rgba(255, 255, 255, 0.5);
            }


            &:hover{
                color:#004ca1;background-color:rgba(0,0,0,0.2);
            }

            }
            
        }
    }
    @media  (max-width: 1020px){
        #menu{
            font-size: 1.18vw;

        }
        @media (max-width:640px){
            #menu{
                font-size: 7px;
                li{
                    a{
                        
                padding:1em 3.4em 1em 3.4em;
                    }
                }
            }
        }
    }
}